/* core css for the page */
html {
	height: 100%;
}

body {
	// font-family: 'Ubuntu';
	font-family: 'Nunito', sans-serif;
	color: #151516;
	position: relative;
	padding-bottom: 50px;
	min-height: 100%;
}

h1, h2, h3, h4, h5, h6{
	font-family: 'Nunito', sans-serif;
}
